html {
	padding: 60px;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size:0.8rem;
}

h1 {
	font-size:2.5rem;
}

div {
	padding: 10px 0px;
}

label {
	min-width: 100px;
	display: inline-block;
}

input[type=input] {
	min-width: 200px;
	display: inline-block;
	padding-bottom:20px;
}

#select {
	margin-left:20px;
}

input[type=submit] {
	color:white;
	background-color: green;
	border-radius:3px;
	border:none;
	padding:15px 12px;
}

input[type=submit]:hover {
	border:none;
	color:white;
	background-color: lime;
}

.button {
	margin-top:20px;
}